@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafa;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


